{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
    <link rel="stylesheet" href="css/styles.css">

    <h2>Register</h2>
    <p>Please fill in this form to create an account.   </p>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btnBlue">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

