{% extends 'base.html.twig' %}

{% block title %}Manage account{% endblock %}

{% block body %}
    <link rel="stylesheet" href="css/styles.css">

    {{ form_start(changeLoginForm) }}
        {{ form_row(changeLoginForm.username) }}
        <button type="submit" class="btnBlue">Change login</button>
    {{ form_end(changeLoginForm) }}

    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.password, {
        label: 'Password'
    }) }}
    <button type="submit" class="btnBlue">Change password</button>
    {{ form_end(changePasswordForm) }}

    {{ form_start(removeAccountForm) }}
    {{ form_row(removeAccountForm.password, {
        label: 'Type your password'
    }) }}
    <button type="submit" class="btnBlue">Remove account</button>
    {{ form_end(removeAccountForm) }}


{% endblock %}
