{% extends 'base.html.twig' %}

{% block title %}Manage account{% endblock %}

{% block body %}
    <link rel="stylesheet" href="css/styles.css">
    {# <form>
        <h2>Manage account</h2>
        <input type="text" id="username" name="_username" value=""><button type="submit" class="btnBlue">Change login</button></br>
        <input type="password" id="password" name="_password"><button type="submit" class="btnBlue">Change password</button></br>
        <button type="submit" class="btnRed">Delete account</button>
    </form> #}
    {# {{ dump () }} #}

    {{ form_start(changeLoginForm) }}
        {{ form_row(changeLoginForm.username) }}
        <button type="submit" class="btnBlue">Change login</button>
    {{ form_end(changeLoginForm) }}

    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.password, {
        label: 'Password'
    }) }}
    <button type="submit" class="btnBlue">Change password</button>
    {{ form_end(changePasswordForm) }}
{% endblock %}
